# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vscode/
plot_scripts/


# Dataset and checkpoints
legacy/
results/

play_scripts/
dataset/
Cycling_Data/

baseline_checkpoints/
wandb/
outs/
hugging_face_tutorial/
data_processsing_script/